<!-- invoices/templates/invoices/summary.html -->
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>
        Invoice Summary
    </title>
    <link rel="stylesheet" href="{% static 'invoices/css/style.css' %}">
</head>
<body>
    <p style="text-align:center">
        <img src="{% static 'invoices/images/invoice-logo.png' %}" width="114" height="164" alt="Invoice Summary Logo">
    </p>
    <h1>
            Invoice Summary
    </h1>
    <table border="1">
        <tr>
                <th>Revenue Source</th>
                <th>Total Value</th>
                <th>Total Advance</th>
                <th>Total Expected Fee</th>
        </tr>
        {% for item in summary %}
            <tr>
                    <td>{{ item.revenue_source }}</td>
                    <td>{{ item.total_value }}</td>
                    <td>{{ item.total_advance }}</td>
                    <td>{{ item.total_expected_fee }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>